@import url("https://fonts.google.com/specimen/Outfit");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --white-color:  hsl(0, 0%, 100%);
    --light-gray-color: hsl(212, 45%, 89%);
    --grayfish-blue-color: hsl(220, 15%, 55%);
    --dark-blue-color: hsl(218, 44%, 22%);

    font-size: 15px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    min-height: 100vh;
    padding: 4rem;
    font: 0.85rem "Outfit", sans-serif;
    background-color: var(--light-gray-color);
}

main, footer {
    flex-wrap: 1;
    min-width: 300px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
    padding: 1em;
    padding-bottom: 2.5em;
    background-color: var(--white-color);
    border-radius: 2rem;
}

footer {
    text-align: center;
    font-size: 0.5em;
}
footer a { 
    color: hsl(228, 45%, 44%); 
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
}

section {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5em;
}

h1, p {
    padding: 0 1.5em;
    text-align: center;
}

h1 {
    color: var(--dark-blue-color);
    font-weight: 700;
    font-size: 1.25em;
}

p {
    color: var(--grayfish-blue-color);
    font-weight: 400;
}

@media screen and (min-width: 375px) {
    body {
        font-size: 1rem;
    }
    main, footer {
        min-width: 350px;
    }
}

@media screen and (min-width: 576px) {
    body {
        font-size: 1.25rem;
    }
    main, footer {
        min-width: 350px;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 2rem;
    }
    main, footer {
        max-width: 650px;
    }
}

@media screen and (orientation:landscape) and (max-width: 1280px) {
    body {
        font-size: 1rem;
    }
    main, footer {
        max-width: 350px;
    }
}